<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <div class="nav mb-10">
            <a class="text-white-500 bg-blue-500 py-3 rounded-md px-3" href="/read">Read users</a>

        </div>
        <h1 class="text-3xl tracking-lighter mb-3">Update user</h1>
        <form action="/create" method="post">
            <input class="px-5 py-3 bg-transparent outline-none border-2 border-green-800 rounded-lg" type="text" name="name" placeholder="Enter your name" value="<%=user.name %>">
            <input class="px-5 py-3 bg-transparent outline-none border-2 border-green-800 rounded-lg" type="text" name="email" placeholder="Enter your email" value="<%=user.email %>">
            <input class="px-5 py-3 bg-transparent outline-none border-2 border-green-800 rounded-lg" type="text" name = "image" placeholder="image url" value="<%=user.image %>">
            <input class="px-5 py-3  outline-none border-2 bg-blue-500 text-black border-blue-800 ml-3 rounded-lg" type="submit" value="Update user">

        </form>
    </div>
</body>
</html>