<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="main w-full min-h-screen bg-zinc-900 p-10">
    <h1 class="text-3xl tracking-tighter">file name</h1>
    <p class="text-3xl mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur provident laudantium eum quas vitae quis at officiis consequuntur dolore ea minus impedit architecto, excepturi magnam officia! Sint exercitationem enim quos?
    Reiciendis ab natus iure magnam dolorum facilis aperiam voluptate rem unde, libero iusto eligendi dolore earum velit ullam molestias dolorem. Amet vitae laudantium porro dicta molestias a deserunt libero sapiente.
    Ipsa facere esse, nemo recusandae, tempora repellat nisi odit illum in modi aliquid! Ipsam eum, tempora ut ipsum voluptatibus, repellendus consequatur id dolorem aperiam, minus facilis maxime eveniet cum porro.
    Omnis accusamus labore quia, nobis tempore sint. Corporis quae sunt ab totam eveniet veritatis provident dolorum explicabo omnis. Rem doloremque repellat veniam pariatur, iste nobis repudiandae similique illum voluptatem perspiciatis.
    Commodi ut quos, optio ipsum aperiam eligendi, nemo assumenda nesciunt aliquid asperiores voluptate est iure necessitatibus dignissimos eaque! Voluptatum eius doloremque nostrum repellat, harum velit maiores ducimus nesciunt dolorem aperiam?
    Magnam aut, aperiam eligendi quidem, earum alias eius dolorem doloribus libero aspernatur tempora suscipit autem tempore ipsum, odio culpa dolores ducimus unde officiis dolore! Eaque voluptatum atque delectus repellendus quia!
    Eveniet iure tempora illo laboriosam reprehenderit perspiciatis ea nobis! Sed, accusamus fugiat velit error qui asperiores vero quae itaque quam similique dolores facilis numquam soluta quibusdam neque reiciendis voluptate quia?
    Hic nisi illum sunt obcaecati delectus alias unde esse ad beatae rem maxime eaque ipsum praesentium suscipit amet harum tempora aperiam, autem iusto. Pariatur, culpa magnam maxime modi reprehenderit nisi.
    Suscipit ad maiores corporis ratione natus libero unde aspernatur quos voluptate beatae dignissimos aliquid est, eum modi! Iure quod nemo sit, tempora, et aperiam sapiente, quia consectetur vitae ipsa tenetur?
    Voluptates dolorum hic itaque in, reprehenderit vel. Quod, explicabo ipsa cupiditate maxime, sit voluptas porro dolorem velit ab ut provident accusantium quis, quae ad natus perferendis consequatur eaque maiores aperiam.
    Dignissimos exercitationem accusamus, voluptas quisquam iste unde praesentium neque veniam, nesciunt quaerat ut repudiandae eius culpa facere totam? Dolorem nostrum quos neque illo. Corrupti sit delectus mollitia nesciunt unde autem?
    Ipsa quia velit fuga ab at reprehenderit repellat corrupti, officiis voluptatum dolorum tempore libero error, vero veniam expedita veritatis. Quod blanditiis necessitatibus adipisci officia amet impedit. Aut quam doloribus aliquid.</p>
</div>

</body>
</html>